<div class='header'>
	<div class='icon'>
		<img src='/glasgow-cycling-app-icon.png'>
	</div>
	<h1>Glasgow Cycling</h1>
</div>
{{outlet}}
<div class='footer'>
	<p class='left'>
	Making Glasgow a cycling City
	</p>
	<div class='icon'>
		<img src='/images/open-glasgow-hexagon.png'>
	</div>
	<p class='right'>
	<a href='http://twitter.com/openglasgow'>@openglasgow</a>
	</p>
</div>
