<div class='header'>
	<div class='icon'>
		<img src='http://placekitten.com/g/50/50'>
	</div>
	<h1>Glasgow Cycling</h1>
</div>
{{outlet}}
<div class='footer'>
	<p class='left'>
	Making Glasgow a cycling City
	</p>
	<div class='icon'>
		<img src='http://placekitten.com/g/42/47'>
	</div>
	<p class='right'>
	<a href='http://twitter.com/openglasgow'>@openglasgow</a>
	</p>
</div>