<div class='summary'>
	<div class='toggles'>
		<ul>
			<li><a>today</a></li>
			<li><a>week</a></li>
			<li><a>month</a></li>
		</ul>
	</div>
	<div class='tldr'>
		<div class='stat'>
			<p>200</p>
			<h3>Cyclists</h3>
		</div>
		<div class='stat'>
			<p>200<span class='small'>km</span></p>
			<h3>Distance</h3>
		</div>
		<div class='stat'>
			<p>16<span class='small'>days</span> 15<span class='small'>hours</span></p>
			<h3>Time</h3>
		</div>
	</div>
	<div class='charts'>
		<div class='chart'></div>
		<div class='chart'></div>
	</div>
</div>