<div class='overview'>
	<div class='toggles'>
		<ul>
			<li><a>today</a></li>
			<li><a>week</a></li>
			<li><a>month</a></li>
		</ul>
	</div>
	<div class='tldr'>
		<div class='stat'>
			<p>{{now.cyclists}}</p>
			<h3>Cyclists</h3>
		</div>
		<div class='stat'>
			<p>{{now.distance}}<span class='small'>km</span></p>
			<h3>Distance</h3>
		</div>
		<div class='stat'>
			<p>16<span class='small'>days</span> 15<span class='small'>hours</span></p>
			<h3>Time</h3>
		</div>
	</div>
	<div class='charts'>
		<div class='chart'></div>
		<div class='chart'></div>
	</div>
</div>

<div class='review'>
	<h2>Glasgow Cycling Review</h2>
	<div class='headline'>
		<div class='icon'>
			<img src='http://placekitten.com/g/172/141'>
		</div>
		<p class='label'>
			<span class='big'>{{now.newCyclists}} new</span> cyclists joined the community
		</p>
	</div>
	<p class='text'>
	Lorizzle ipsizzle dolizzle sit bizzle, brizzle ghetto elizzle. Check it out gizzle velizzle, phat fizzle, rizzle bizzle, pot vizzle, stuff. Pellentesque i saw beyonces tizzles and my pizzle went crizzle tortor. Cool eros. Shut the shizzle up izzle dolor dapibus turpis tempus we gonna chung. Maurizzle pellentesque nibh izzle turpizzle. Shizznit izzle tortor. Pellentesque that's the shizzle rhoncus nisi. In fo shizzle my nizzle habitasse shizznit dictumst. Check it out dapibus. Sizzle tellizzle urna, pretizzle that's the shizzle, mattizzle shizznit, yo vitae, nunc. Pimpin' suscipizzle. Integer semper velizzle sizzle bow wow wow.
	<br><br>
	Phasellus pimpin' volutpizzle tellizzle. Ut my shizz adipiscing we gonna chung. Donizzle own yo' est. Ma nizzle sapizzle massa, uhuh ... yih! izzle, gangsta hizzle, fermentum quizzle, funky fresh. Duis break it down funky fresh. Etizzle rutrum ornare ante. Maurizzle . Vestibulizzle izzle pede uhuh ... yih! nibh commodo commodo. Lorem ipsum dolor sizzle sure, consectetizzle adipiscing bow wow wow. Sizzle ac mah nizzle. Quisque mi sizzle, sodales izzle, brizzle a, eleifend a, fo shizzle my nizzle.
	</p>
</div>

<div class='summary'>
	<h2>Glasgow Cycling Summary</h2>
	<div class='wrapper'>
		<div class='states'>
			<div class='state'>
				<img src='http://placekitten.com/g/300/300'>
				<h3>Weather</h3>
			</div>
			<div class='state'>
				<img src='http://placekitten.com/g/300/300'>
				<h3>Activity</h3>
			</div>
			<div class='state'>
				<img src='http://placekitten.com/g/300/300'>
				<h3>Avg Rating</h3>
			</div>
			<div class='state'>
				<img src='http://placekitten.com/g/300/300'>
				<h3>Environment</h3>
			</div>
		</div>

		<div class='boom'>
			<div class='toInfinity'>
			</div>
			<p>Together Glasgow has cycled 75% of the way to the moon</p>
		</div>
	</div>
</div>

<div class='table'>
	<div class='wrapper'>
		<h2>City Stats Table</h2>
		<table cellpadding="0" cellspacing="0" align="center">
			<tbody>
				<tr>
					<th></th>
					<th>This Week</th>
					<th>vs Last Week</th>
					<th>vs Average</th>
				</tr>
				<tr>
					<td>Avg Routes per day</td>
					<td>20</td>
					<td>+5</td>
					<td>-5</td>
				</tr>
				<tr>
					<td>Avg Distance per Route</td>
					<td>20</td>
					<td>+5</td>
					<td>-5</td>
				</tr>
				<tr>
					<td>Avg Distance per User</td>
					<td>20</td>
					<td>+5</td>
					<td>-5</td>
				</tr>
				<tr>
					<td>Longest Route</td>
					<td>20</td>
					<td>+5</td>
					<td>-5</td>
				</tr>
				<tr>
					<td>Furthest Route</td>
					<td>20</td>
					<td>+5</td>
					<td>-5</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>