/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "chartist";
@import "bourbon";
@import "neat";
@import "variables";
@import "dashboard";

// General Styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  @include span-columns(12 of 12);
  margin: 0;
}

body {
  font-family: helvetica neue, lucida grande, sans-serif;
  background-color: $blue;
}

a {
  text-decoration: none;
  color: $text-link-light;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 2.57em;
}

h2 {
  font-size: 1.8em;
}

.big {
  font-size: 1.6em;
  font-weight: bold;
}

// Header & footer

.header, .footer {
  width: 100%;
  height: 95px;
  color: $text-light;
}

.header {
  position: relative;

  .icon {
    position: absolute;
    top: 50%;
    margin-left: 24px;
  }

  img {
    position: absolute;
    top: -25px;
    height: 50px;
    width: 50px;
  }

  h1 {
    line-height: 95px;
    vertical-align: middle;
    text-align: center;
  }

  @include breakpoint($mobile) {
    padding-top: 10px;
    height: auto;

    .icon {
      @include span-columns(12 of 12);
      position: relative;
      display: inline-block;
      text-align: center;
      margin-left: 0;
    }

    img {
      position: relative;
      top: 0;
    }
  }
}

.footer {
  .left, .right {
    @include span-columns(5 of 12);
    line-height: 95px;
    vertical-align: middle;
    font-size: 1.5em;
  }

  .left {
    padding-left: 24px;
  }

  .icon {
    @include span-columns(2 of 12);
    height: 95px;
    line-height: 95px;
    text-align: center;

    img {
      width: 42px;
      height: 47px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .right {
    text-align: right;
    padding-right: 24px;
  }

  @include breakpoint($mobile) {
    .left, .right, .icon {
      @include span-columns(12 of 12);
      @include omega(1n);
      text-align: center;
      padding: 0;
    }
  }

  @include breakpoint($tablet) {
    .left, .right {
      font-size: 1.2em;
    }
  }
}