// Overview

.overview {
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 100px;
	@include clearfix();
}

.toggles {
	margin-bottom: 15px;

	ul {
		list-style: none;
		text-align: center;
	}

	li {
		display: inline-block;
		font-size: 1.5em;
		padding-left: 8px;
		padding-right: 8px;
	}

	a {
		color: #4faad1;
	}
}

.tldr {
	@include span-columns(8 of 12);
	@include shift(2);
	margin-bottom: 100px;

	.stat {
		@include span-columns(1 of 3);
		@include omega(3n);
		text-align: center;

		p {
			font-size: 4.5em;
			color: $text-grey;
			.small {
				font-size: 0.2em;
			}
		}

		h3 {
			font-size: 1.8em;
			color: $blue;
		}
	}

	@include breakpoint($small-desktop) {
		.stat p {
			font-size: 3.2em;
		}
	}

	@include breakpoint($tablet) {
		@include span-columns(10 of 12);
		@include shift(1);

		.stat p {
			font-size: 2.7em;
		}
	}

	@include breakpoint($mobile) {
		@include span-columns(12 of 12);
		@include shift(0);
		margin-bottom: 50px;

		.stat {
			@include span-columns(12 of 12);
			@include omega(1n);
			margin-bottom: 25px;
		}

		.stat:last-child {
			margin-bottom: 0;
		}
	}
}

.charts {
	@include span-columns(8 of 12);
	@include shift(2);
}

.chart {
	@include span-columns(9 of 20);
	height: 223px;
	border: 1px dashed $text-grey;
}

.chart:last-child {
	@include shift(2 of 20);
}

@include breakpoint($tablet) {
	.charts {
		@include span-columns(10 of 12);
		@include shift(1);
	}

	.chart {
		@include span-columns(14 of 30);
		@include omega(2n);
		margin-bottom: 25px;
	}

	.chart:last-child {
		@include shift(2 of 30);
		margin-bottom: 0;
	}
}

@include breakpoint($mobile) {
	.charts {
		@include span-columns(12 of 12);
		@include shift(0);
	}

	.chart {
		@include span-columns(12 of 12);
		@include omega(1n);
		margin-bottom: 25px;
	}

	.chart:last-child {
		@include shift(0);
		margin-bottom: 0;
	}
}

// Review
.review {
	@include clearfix();
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $blue-light;
	color: $text-light;
}

.review > h2 {
	text-align: center;
	color: $text-light;
	margin-bottom: 50px;
}

.review {
	.headline {
		@include span-columns(3 of 12);
		@include shift(2);

		.icon {
			display: inline-block;
			text-align: center;
			width: 100%;
			margin-bottom: 27px;
		}

		.icon > img {
			width: 172px;
			height: 141px;
		}

		.label {
			font-size: 2em;
		}
	}

	.text {
		@include span-columns(5 of 12);
		font-size: 1.35em;
	}

	@include breakpoint($tablet) {
		.headline {
			@include span-columns(4 of 12);
			@include shift(1);
		}

		.text {
			@include span-columns(6 of 12);
		}
	}

	@include breakpoint($mobile) {
		.headline, .text {
			@include span-columns(12 of 12);
			@include shift(0);
			margin: 0;
			padding: 0 15px;
		}

		.headline {
			padding: 0 15px;
			margin-bottom: 20px;
			text-align: center;
		}
	}
}

// Summary
.summary {
	@include clearfix();
	background-color: #fff;
	color: $blue;
	padding-top: 50px;
	padding-bottom: 50px;

	h2 {
		text-align: center;
		margin-bottom: 50px;
	}

	.wrapper {
		@include span-columns(8 of 12);
		@include shift(2);
	}

	.states {
		@include clearfix();
		margin-bottom: 80px;
	}

	.state {
		@include span-columns(3 of 12);
		text-align: center;

		img {
			display: inline-block;
			width: 100px;
			height: 100px;
		}
	}

	.boom {
		@include span-columns(12 of 12);

		.toInfinity {
			border: 1px dashed black;
			height: 111px;
			margin-bottom: 30px;
		}

		p {
			text-align: center;
			font-size: 1.8em;
		}
	}

	@include breakpoint($mobile) {
		.wrapper {
			@include span-columns(12 of 12);
			@include shift(0);
		}

		.state {
			@include span-columns(12 of 12);
			@include omega(1n);
			margin-bottom: 25px;
		}
	}
}

.table {
	@include clearfix();
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;

	color: $blue;

	.wrapper {
		@include span-columns(8 of 12);
		@include shift(2);
	}

	h2 {
		text-align: center;
		margin-bottom: 50px;
	}

	table {
		margin: 0 auto;
		text-align: center;

		td, th {
			color: $text-grey;
			border-color: $text-grey;
			border-style: solid;
			border-width: 0;
		}

		td {
			border-right-width: 1px;
			font-size: 3em;
			vertical-align: baseline;
			padding: 15px;
		}

		td:last-child {
			border-right-width: 0;
		}

		td:first-child {
			font-size: 1.5em;
			color: $blue;
			border-right-width: 0;
			text-align: left;
		}

		th {
			border-right-width: 1px;
			border-bottom-width: 1px;
			font-size: 1em;
			font-weight: normal;
			padding-left: 26px;
			padding-right: 26px;
			padding-bottom: 10px;
		}

		th:first-child {
			border: none;
		}

		th:last-child {
			border-right: none;
		}

		tr:nth-child(2) > td {
			padding-top: 10px;
		}
	}

	@include breakpoint($mobile) {
		.wrapper {
			@include span-columns(12 of 12);
			@include shift(0);
		}

		table {
			th {
				padding-left: 10px;
				padding-right: 10px;
			}

			td {
				font-size: 2em;
				padding: 5px;
			}
		}
	}
}